.searchPanel {
    margin: 50px auto 0 auto
}

.searchPanel h1 {
    color: #4676D7
}
.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0 auto
    ;
}

.searchForm form {
    display: flex;
  
}
.searchForm input {
    width: 320px;
    height: 35px;
    border-radius: 5px;
    border-color: #4676D7;
    border-width: 1px;
}

.searchForm button {
    margin: 0 auto 0 30px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    font-size: 16px;
}